<!--  부트스트랩보다 제이쿼리가 먼저 호출되도록 한다. 부트스트랩이 제이쿼리에 의존하기 때문. -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script> <!-- '/'로 절대경로로 시작. -->
</body>
</html>