<!DOCTYPE html>
<html xmls="http://www.w3.org/1999/xhtml" xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>Taco Cloud</title>
</head>
<body>
	<h1>Register</h1>
	<img th:src="@{/images/TacoCloud.png}"/>
	
	<form method="POST" th:action="@{/register}" id="registerForm">
		
		<label for="username">Username: </label>			
		<input type="text" name="username"/></br>
		
		<label for="password">password: </label>			
		<input type="password" name="password"/></br>
		
		<label for="confirm">confirm password: </label>			
		<input type="password" name="confirm"/></br>
		
		<label for="fullname">fullname: </label>			
		<input type="text" name="fullname"/></br>
		
		<label for="street">street: </label>			
		<input type="text" name="street"/></br>
		
		<label for="city">city: </label>			
		<input type="text" name="city"/></br>
		
		<label for="state">state: </label>			
		<input type="text" name="state"/></br>
		
		<label for="zip">zip: </label>			
		<input type="text" name="zip"/></br>
		
		<label for="phone">phone: </label>			
		<input type="text" name="phone"/></br>
		
		<input type="submit" value="Register"/>
	</form>
</body>
</html>